// Stolen from bootstrap
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-weak-danger {
    color: #a94442;
    background-color: #f6f0f0;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-weak-success {
    color: #3c763d;
    background-color: #f4f8f3;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

h1 {
  font-size: 2.3em;
}
